{
	"plugins": [
	"stylelint-order"
	],
	"rules": {
		"block-no-empty": null,
		"color-no-invalid-hex": true,
		"declaration-colon-space-after": "always",
		"max-empty-lines": 2,
		"unit-whitelist": ["em", "%", "px", "vw", "vh", "s"],
		"order/properties-order": [
			"position",
			"margin",
			"margin-top",
			"margin-right",
			"margin-bottom",
			"margin-left",
			"max-width",
			"width",
			"min-width",
			"max-height",
			"height",
			"min-height",
			"padding",
			"padding-top",
			"padding-right",
			"padding-bottom",
			"padding-left",
			"background",
			"background-color",
			"background-image",
			"border",
			"border-radius",
			"font-size",
			"text-transform",
			"color",
			"cursor",
			"transition",
			"flex",
			"flex-direction",
			"justify-content",
			"align-items",
			"flex-wrap"
		]
	}
}
